.filePreview {
  width: 30%;
  overflow-y: hidden;
  max-width: min-content;
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7em;
  color: #3366cc;
  border: 1px solid #3366cc;
  padding: 0.7em;
  border-radius: 0.7em;
}
.filePreview:hover {
  background-color: #3366cc;
  color: hsl(var(--b1));
}
