.searchBar {
  display: flex;
  align-items: center;
  min-width: 5%;
  width: 70%;
  justify-content: center;
  padding: 0 1em;
  transition: transform 0.3s ease;
  margin-top: 5px;
}
.searchBar:active {
  transform: scale(0.99);
}
