.item {
  border-radius: var(--rounded-btn);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  padding: 1em;
  border: 1px solid hsl(var(--nc) / 20%);
  transition: scale 0.3s ease;
  margin: 0.5em 0;

  /* set the font to imported font */
  font-size: 1.1em;
  font-family: "New Rocker", sans-serif;
}
.item:hover {
  /* background-color: hsl(var(--pf)); */
  /* color: hsl(var(--pc)); */
  scale: 1.05;
}
.active {
  background-color: hsl(var(--p));
  scale: 1.05;
  color: hsl(var(--pc));
}
