.housePage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  font-size: 1.2rem;
}

.housePic {
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out;
}
.housePic:hover {
  transform: scale(0.99);
}
.housePic:active {
  transform: scale(0.9);
}
