/* for the entire page: */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

/* for the radio buttons / tabs */
.tabGrp {
  background-color: hsl(var(--b3));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.tabGrp {
  background-color: hsl(var(--b3));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: calc(min-content + 50px);
  position: relative; /* Add position relative to create stacking context */
}
.tabList {
  padding-inline: 5px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  position: relative; /* Add position relative to create stacking context */
  z-index: 1; /* Add z-index to ensure tab items appear above the indicator */
}
.tabIndicator {
  border-radius: 5px;
  bottom: 1.6em;
  height: 70%;
  transition: all 0.3s ease;
  transform: translateY(70%);
}

/* for the search bar: */
.searchBar {
  display: flex;
  align-items: center;
  min-width: 5%;
  width: 70%;
  justify-content: center;
  padding: 0 1em;
  transition: all 0.3s ease, transform 0.3s ease;
  margin-top: 5px;
}
.searchBar:active {
  transform: scale(0.99);
}

/* the table of entires */
.tableHead {
  border-radius: 10px;
  padding: 5px !important;
  background-color: hsl(var(--b3));
  display: grid;
  grid-template-columns: 2fr 0.5fr 1.5fr 1fr 1fr 0.8fr 1fr;
  gap: 50px;
  width: 100%;
  list-style: none;
}
.userListItem {
  padding: 3px;
  border-radius: 8px;
  background-color: hsl(var(--b2));
  transition: all 0.3s ease;
  cursor: pointer;
  list-style-type: none;
  width: 100%;
}
.userInfo {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1.5fr 1fr 1fr 0.8fr 1fr;
  align-items: center;
  gap: 50px;
  padding-inline: 5px;
}
.name {
  grid-column: 1;
}
.role {
  grid-column: 2;
}
.email {
  grid-column: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone {
  grid-column: 4;
}
.rollNumber {
  grid-column: 5;
}
.house {
  grid-column: 6;
}
.Button {
  grid-column: 7;
}

.botBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
