/* make a navbar */
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(var(--b2));
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  padding-inline: 10px;
  position: sticky;
  width: 100%;
  z-index: 3;
  top: 0;
  box-shadow: -4px 4px 2px hsl(var(--b3));
  border: 1px solid hsl(var(--pc) / 30%);
}

.hamButton {
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
}
.hamButton:active {
  transform: scale(0.9);
}

.endGroup {
  display: flex;
  align-items: center;
  gap: 10px;

  align-self: flex-end;
  justify-content: flex-end;
}

.menuItem {
  padding: 0.8em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  border-radius: 0.8em;
  background-color: hsl(var(--b1)) !important;
}
.menuItem:hover {
  background-color: hsl(var(--p)) !important;
  color: hsl(var(--pc));
}

.menuOut {
  padding: 0.8em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  border-radius: 0.8em;
  background-color: hsl(var(--b1)) !important;
}
.menuOut:hover {
  background-color: rgb(255, 69, 0) !important;
  color: white;
}
/* for the children of these which are the links */

.notificationIndicator {
  padding: 0.3em;
  border: 1px solid hsl(var(--pc) / 30%);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.notifCount {
  background-color: rgb(221, 0, 0);
  color: white;
  border-radius: 1em;
  border-radius: 0.8em;
  font-size: 0.8em;
  min-width: 3ch;
  padding: 0.1em 0.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ringBell {
  animation: ring 500ms ease infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(10deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }

  50% {
    transform: rotate(-10deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
