/* make a navbar */
.navbar {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navBody {
  display: flex;
  flex-direction: row;
}

.navBody > :nth-child(1) {
  justify-content: flex-start;
}
.navbar > :nth-child(2) {
  justify-content: center;
}

.hamButton {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: background-color 0.3s ease;
  justify-content: flex-start;
}
.hamButton:hover {
  background-color: #111;
}
