/* CSS for the modal */
.modalFooter {
  display: flex;
  gap: 1em;
  justify-content: center !important;
}
.modalFooter > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.quarter {
  margin-bottom: 10px;
}

.randh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  height: 100%;
}

.picIn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  border-radius: 10px;
  border: 2px dashed hsl(var(--pf));
}
.customFileInput {
  opacity: 0; /* Hide the default file input */
  position: absolute;
  z-index: -1;
}
.customFileLabel {
  cursor: pointer;
}
.customFileLabel::after {
  content: "Browse"; /* Text or icon for the file browse button */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background: hsl(var(--pf));
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}
.customFileInput:focus + .custom-file-label {
  /* Styling when the file input is in focus */
  outline: 2px solid blue;
}

/* for the button to add the user */
.modalAdd {
  background-color: hsl(var(--p)) !important;
  transition: all 0.2s ease-in-out;
  border-color: transparent !important;
}
.modalAdd:hover {
  background-color: hsl(var(--pf)) !important;
}
.modalAdd:active {
  transform: scale(0.98);
}
