.notifItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;

  width: 100%;
  min-width: min-content;
  max-width: 1080px;

  padding: 1em;
  border-radius: 1em;
  background-color: hsl(var(--b3));
  margin-block: 0.5em;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.body {
  margin: 1em 0;
}
.viewsDisplay {
  font-size: 0.9em;
  display: flex;
  gap: 0.2em;
}
.viewsText {
  color: hsl(var(--nc));
}
.badgesWrapper {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.title {
  gap: 0.5em;
  display: flex;
  align-items: center;
}
