.parent {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.notifList {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
