/* for the buttons at the end of the page */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: all 0.3s ease;
}
.clicky{
  cursor: pointer;
  transition: all 0.3s ease;  
}
.clicky:hover{
  transform: scale(1.1);
}
.clicky:active{
  transform: scale(0.99);
}