/* Sidebar.module.css */

.sidebar {
    position: relative;
    top: 0;
    left: -250px; /* Sidebar initially hidden */
    width: 250px;
    height: 100vh;
    border-top-right-radius: 20px;
    background-color: rgb(0, 0, 0, 0.2);
    border-bottom-right-radius: 20px;
    transition: left 0.3s ease-in-out;
  }
  
  .sidebar.open {
    left: 0; /* Sidebar shown */
  }
  
  .toggleButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
  
  .menu {
    padding: 0;
    list-style: none;
  }
  
  .menu li {
    padding: 10px;
  }
  