.item {
  border-radius: var(--rounded-btn);
  display: flex;
  justify-content: center;
  width: 100%;

  left: 0;
  padding: 1em;
  border: 1px solid hsl(var(--nc) / 20%);
  transition: background-color 0.3s ease;
  margin: 0.5em 0;
}

.item:hover {
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
}
.active {
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
}
