.userListItem {
  padding: 3px;
  border-radius: 8px;
  background-color: hsl(var(--b2));
  transition: all 0.3s ease;
  cursor: pointer;
  list-style-type: none;
  width: 100%;
}
.userInfo {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr 1fr 0.8fr 0.25fr 0.25fr;
  align-items: center;
  gap: 10px;
  padding-inline: 5px;
}
.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* for the actions buttons in the end */
.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  transition: all 0.3s ease;
}
.deleteButton {
  margin: 2px;
  transition: all 0.3s ease;
  background-color: hsl(var(--er));
}
.deleteButton:hover {
  background-color: hsl(var(--erc));
  color: hsl(var(--pch));
}
.deleteButton:active {
  transform: scale(0.9);
}
.editButton {
  margin: 2px;
  transition: all 0.3s ease;
  background-color: hsl(var(--in));
}
.editButton:hover {
  background-color: hsl(var(--inc));
}
.editButton:active {
  transform: scale(0.9);
}
