.userListItem {
  padding: 3px;
  border-radius: 8px;
  background-color: hsl(var(--b2));
  transition: all 0.3s ease;
  cursor: pointer;
  list-style-type: none;
  width: 100%;
}
.userInfo {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.05fr 0.05fr;
  align-items: center;
  gap: 10px;
  padding-inline: 5px;
}

.responsiveBlock {
  display: grid;
  grid-template-columns: 2fr 0.8fr 2fr 1fr 1fr 0.8fr;
  align-items: center;
  gap: 10px;
}
/* now the same for smaller devices */
@media (max-width: 768px) {
  .responsiveBlock {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    gap: 10px;
  }
}
.role {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

/* for the actions buttons in the end */
.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  transition: all 0.3s ease;
}
.deleteButton,
.editButton {
  margin: 2px;
  transition: all 0.3s ease;
  background-color: transparent;
  border: 2px solid;
  border-radius: 50px;
  padding: 10px 20px;
}
.deleteButton {
  border-color: hsl(var(--er));
}
.deleteButton:hover {
  background-color: hsl(var(--er));
}
.editButton {
  border-color: hsl(var(--in));
}
.editButton:hover {
  background-color: hsl(var(--in));
}
.deleteButton:active{
  transform: scale(0.9);
  background-color: hsl(var(--erc));
}
.editButton:active {
  transform: scale(0.9);
  background-color: hsl(var(--inc));
}

/* for the delete button in the modal */
.del {
  background-color: hsl(var(--er)) !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
.del:hover {
  background-color: hsl(var(--erc)) !important;
}
.del:active {
  transform: scale(0.9);
}
