/* Add styles for the joke component */
.joke {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1em;
}

.txt{
  border: none;
  background-color: hsl(var(--b3) / 40%);
  padding: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-family: "Roboto Slab", sans-serif;
  font-style: italic;
  color: hsl(var(--nc));
  text-decoration: underline rgba(119, 119, 119, 0.5) 0.01em;
  text-underline-offset: 5px;
}

.loader {
  display: flex;
  flex-direction: row;
}
