/* Add styles for the joke component */
.joke {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1em;
}

/* Add styling for the button containing the joke */
.joke button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.joke button span {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline rgba(119, 119, 119, 0.5) 0.01em;
  text-underline-offset: 5px;
}
