.floatBtn {
  display: flex;
  align-items: center;
  padding: 1em;

  position: fixed;
  z-index: 1;
  right: 1.5em;
  bottom: 1em;

  /* width: 5em; */
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 200ms ease-in-out, scale 200ms ease-in-out;
  cursor: pointer;

  line-height: 1em;
  white-space: nowrap;
  background-color: hsl(var(--s) / 50%);
  backdrop-filter: blur(5px);
  border-radius: 0.8em;
  box-shadow: -4px 4px 2px hsl(var(--b3));
  border: 1px solid hsl(var(--pc) / 30%);
}
.floatBtn:active {
  scale: 0.9;
}

/* .floatBtn:hover {
  width: 9.5em;
} */
/* .floatBtn:hover::after {
  content: "\00a0New User";
} */

.icon {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  transition: transform 0.3s ease-in-out;
}
/* .floatBtn:hover .icon {
  transform: rotate(180deg);
} */
