.parent {
  display: flex;
  width: 100%;

  flex-direction: column;
}
.title {
  font-family: "New Rocker", cursive;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1080px;
  width: 100%;
  min-width: min-content;
}
.notifList {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.titleWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* for the tabs: */
.wrapTab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tabGrp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  background-color: hsl(var(--b3));
  border-radius: 10px;
  border: 1px solid hsl(var(--n));
  padding: 0.4em;
}
.tabList {
  padding-inline: 5px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  position: relative; /* Add position relative to create stacking context */
  z-index: 1; /* Add z-index to ensure tab items appear above the indicator */
}
.tabIndicator {
  border-radius: 5px;
  bottom: 1.6em;
  height: 70%;
  transition: transform 0.3s ease;
  transform: translateY(70%);
}
