.container {
  transition: all 0.3s ease;
}

/* header having a flex direction of row: */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  transition: all 0.3s ease;
  margin: 1em;
}
.name {
  font-size: 2em;
  font-weight: 600;
  transition: all 0.3s ease;
}
.email {
  font-size: 1.2em;
  transition: all 0.3s ease;
}
.role {
  font-size: 0.5em !important ;
  border-radius: 0.5em !important;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease;
  margin: 1em;
}
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.house {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phone,
.roll,
.house {
  font-size: 1.2em;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    transition: all 0.3s ease;
    margin: 1em;
  }
  .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    transition: all 0.3s ease;
  }
  .email {
    font-size: 0.9em;
    transition: all 0.3s ease;
  }
  .role {
    font-size: 0.6em !important;
    border-radius: 0.5em !important;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    transition: all 0.3s ease;
    margin: 1em;
  }
  .phone,
  .roll,
  .house {
    font-size: 1em;
    transition: all 0.3s ease;
  }
  
}
