.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
  transition: all 0.3s ease;
}

.banner {
  flex: 0.6;
}
@media (max-width: 767px) {
  .banner {
    flex: 2;
    display: flex;
    justify-content: center;
  }
}
.houseB {
  width: 100%;
  object-fit: fill;
  margin-top: 0.3em;
}

.content {
  flex: 4;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

.primaryInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
.avatar {
  margin-left: 1em;
}
.name {
  font-size: 2em;
  font-weight: bold;
}
.email {
  font-size: 1.5em;
}
.role {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.otherInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
