.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.container label {
  color: white;
  font-size: 20px;
}

.fillForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
  width: 300px; /* Set the width of the form */
}

.fillForm label {
  color: white;
  font-size: 15px;
  width: 100%;
}

.fillForm p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.fillForm input {
  transition: all 0.2s ease-in-out;
}

.fillForm input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.submitBtn {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: transparent;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
}
.submitBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.submitBtn:active {
  background-color: rgba(0, 0, 0, 0.7);
  scale: 0.9;
}
