.housePage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  font-size: 1.2rem;
  width: max-content;
  overflow-x: hidden;
}

.housePic {
  border-radius: 10px !important;
  transition: transform 0.3s ease-in-out;
}
.housePic:hover {
  transform: scale(0.99);
}
.housePic:active {
  transform: scale(0.97);
}
.rankDisplay {
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid;
  padding: 0 0.5em;
  border-radius: 0.5em;
  backdrop-filter: blur(150px);
}

.rankDisplay::before {
  content: "# ";
  font-weight: bold;
}

.housePoints {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1em;
  font-weight: bold;
}

.housePoints::after {
  content: " points";
  font-weight: lighter;
  font-family: monospace;
}
