.coursePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.membersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  gap: 0.5em;
}

.enrollUserBtn {
  width: 6em !important;
}
.enrollUserBtn:hover {
  width: 10.5em !important;
}
.selectBtn {
  background-color: transparent !important;
  padding: 1.1em !important;
  border: 1px solid hsl(var(--n)) !important;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

.modalFooter {
  display: flex !important;
  align-items: center;
  gap: 2em;
}
.modalFooter > * {
  width: 100%;
}
