/* make a navbar */
.navbar {
  background-color: hsl(var(--b2) / 90%);
  /* margin: 10px; */
  display: flex;
  flex-direction: row;

  padding: 5px;
  border-radius: 10px;
  padding-inline: 10px;
  position: sticky;
  width: 100%;
  z-index: 3;
  top: 0;
  box-shadow: -4px 4px 2px hsl(var(--b3));
  border: 1px solid hsl(var(--pc) / 30%);

  backdrop-filter: blur(0.6em);
  gap: 1.1em;
}

.hamButton {
  transition: background-color 1s ease, transform 1s ease;
  display: flex;
  align-items: center;
}
.hamButton:active {
  transform: scale(0.9);
}

.endGroup {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.menuItem {
  font-family: "New Rocker", sans-serif;
  padding: 0.8em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  border-radius: 0.8em;
  background-color: hsl(var(--b1)) !important;
}
.menuItem:hover {
  background-color: hsl(var(--p)) !important;
  color: hsl(var(--pc));
}

.menuOut {
  font-family: "New Rocker", sans-serif;
  padding: 0.8em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  border-radius: 0.8em;
  background-color: hsl(var(--b1)) !important;
}
.menuOut:hover {
  background-color: rgb(255, 69, 0) !important;
  color: black;
}
/* for the children of these which are the links */

.notificationIndicator {
  padding: 0.3em;
  border: 1px solid hsl(var(--pc) / 30%);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.notifCount {
  background-color: rgb(221, 0, 0);
  color: white;
  border-radius: 1em;
  border-radius: 0.8em;
  font-size: 0.8em;
  min-width: 3ch;
  padding: 0.1em 0.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ringBell {
  animation: ring 500ms ease infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(10deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }

  50% {
    transform: rotate(-10deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/*   
 hamburger icon
*/
.hamburger {
  width: 1.2em;
  height: 55%;
  position: relative;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.hamburger > span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: hsl(var(--pc) / 80%);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 4px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 10px;
}

.hamburger span:nth-child(4) {
  top: 16px;
}

.hamburger.hamburgerOpen span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger.hamburgerOpen span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.hamburgerOpen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.hamburgerOpen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.avatarWrapper:hover > * {
  filter: saturate(2);
}
