/* calligraphic fonts */
@import url("https://fonts.googleapis.com/css2?family=Asap:ital@0;1&family=Lato:ital@0;1&family=New+Rocker&family=Roboto+Slab&family=Ubuntu:ital@0;1&family=UnifrakturMaguntia&display=swap");

:root {
  --pf: 262 80% 43%;
  --sf: 316 70% 43%;
  --af: 175 70% 34%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 262 80% 50%;
  --pc: 0 0% 100%;
  --s: 316 70% 50%;
  --sc: 0 0% 100%;
  --a: 175 70% 41%;
  --ac: 0 0% 100%;
  --n: 213 18% 20%;
  --nf: 212 17% 17%;
  --nc: 220 13% 69%;
  --b1: 212 18% 14%;
  --b2: 213 18% 12%;
  --b3: 213 18% 10%;
  --bc: 220 13% 69%;
}

body {
  background-color: hsl(var(--b1)) !important;
  user-select: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
body,
html,
#__next {
  /* min-height: min-content; */
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--nc) / 30%);
  border-radius: 200em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--nc) / 60%);
}

.clicky {
  cursor: pointer;
  transition: scale 0.3s ease, transform 0.3s ease;
}
.clicky:hover {
  transform: scale(1.1);
}
.clicky:active {
  transform: scale(0.99);
}

.modalYesBtn {
  background-color: hsl(var(--p)) !important;
  color: hsl(var(--pc)) !important;
  cursor: pointer;
  transition: scale 0.3s ease, transform 0.3s ease;
}
.modalYesBtn:hover {
  background-color: hsl(var(--pf)) !important;
}
.modalYesBtn:active {
  transform: scale(0.9);
}

.modalNoBtn {
  cursor: pointer;
  transition: scale 0.3s ease, transform 0.3s ease;
}
.modalNoBtn:active {
  transform: scale(0.9);
}
