/* calligraphic fonts */
@import url("https://fonts.googleapis.com/css2?family=Asap:ital@0;1&family=Lato:ital@0;1&family=New+Rocker&family=Roboto+Slab&family=Ubuntu:ital@0;1&family=UnifrakturMaguntia&display=swap");

:root {
  /* dark mode variants */
  --pf-dark: 262 80% 43%;
  --sf-dark: 316 70% 43%;
  --af-dark: 175 70% 34%;
  --in-dark: 198 93% 60%;
  --su-dark: 158 64% 52%;
  --wa-dark: 43 96% 56%;
  --er-dark: 0 91% 71%;
  --inc-dark: 198 100% 12%;
  --suc-dark: 158 100% 10%;
  --wac-dark: 43 100% 11%;
  --erc-dark: 0 100% 14%;
  --p-dark: 262 80% 50%;
  --pc-dark: 0 0% 100%;
  --s-dark: 316 70% 50%;
  --sc-dark: 0 0% 100%;
  --a-dark: 175 70% 41%;
  --ac-dark: 0 0% 100%;
  --n-dark: 213 18% 20%;
  --nf-dark: 212 17% 17%;
  --nc-dark: 220 13% 69%;
  --b1-dark: 212 18% 14%;
  --b2-dark: 213 18% 12%;
  --b3-dark: 213 18% 10%;
  --bc-dark: 220 13% 69%;

  /* light mode variants */

  --pf-light: 203 83% 53%;
  --sf-light: 335 78% 53%;
  --af-light: 56 100% 53%;
  --nf-light: 0 0% 3%;
  --b2-light: 0 0% 93%;
  --b3-light: 0 0% 86%;
  --bc-light: 146 0% 19%;
  --pc-light: 207 32% 14%;
  --sc-light: 344 100% 93%;
  --ac-light: 54 41% 14%;
  --nc-light: 145 0% 80%;
  --inc-light: 194 26% 12%;
  --suc-light: 295 30% 87%;
  --wac-light: 24 46% 13%;
  --erc-light: 12 100% 91%;
  --rounded-box-light: 1rem;
  --rounded-btn-light: 0.5rem;
  --rounded-badge-light: 1.9rem;
  --animation-btn-light: 0.25s;
  --animation-input-light: 0.2s;
  --btn-text-case-light: uppercase;
  --btn-focus-scale-light: 0.95;
  --border-btn-light: 1px;
  --tab-border-light: 1px;
  --tab-radius-light: 0.5rem;
  --p-light: 203 83% 60%;
  --s-light: 335 78% 60%;
  --a-light: 56 100% 60%;
  --n-light: 0 0% 10%;
  --b1-light: 0 0% 100%;
  --in-light: 192 48% 52%;
  --su-light: 291 48% 38%;
  --wa-light: 25 85% 57%;
  --er-light: 4 81% 56%;

  /* common */
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

/* for light theme */
main[data-theme="dark"] {
  /* dark mode variants of all */
  --pf: var(--pf-dark);
  --sf: var(--sf-dark);
  --af: var(--af-dark);
  --in: var(--in-dark);
  --su: var(--su-dark);
  --wa: var(--wa-dark);
  --er: var(--er-dark);
  --inc: var(--inc-dark);
  --suc: var(--suc-dark);
  --wac: var(--wac-dark);
  --erc: var(--erc-dark);
  --p: var(--p-dark);
  --pc: var(--pc-dark);
  --s: var(--s-dark);
  --sc: var(--sc-dark);
  --a: var(--a-dark);
  --ac: var(--ac-dark);
  --n: var(--n-dark);
  --nf: var(--nf-dark);
  --nc: var(--nc-dark);
  --b1: var(--b1-dark);
  --b2: var(--b2-dark);
  --b3: var(--b3-dark);
  --bc: var(--bc-dark);
}

main[data-theme="light"] {
  --pf: var(--pf-light);
  --sf: var(--sf-light);
  --af: var(--af-light);
  --in: var(--in-light);
  --su: var(--su-light);
  --wa: var(--wa-light);
  --er: var(--er-light);
  --inc: var(--inc-light);
  --suc: var(--suc-light);
  --wac: var(--wac-light);
  --erc: var(--erc-light);
  --p: var(--p-light);
  --pc: var(--pc-light);
  --s: var(--s-light);
  --sc: var(--sc-light);
  --a: var(--a-light);
  --ac: var(--ac-light);
  --n: var(--n-light);
  --nf: var(--nf-light);
  --nc: var(--nc-light);
  --b1: var(--b1-light);
  --b2: var(--b2-light);
  --b3: var(--b3-light);
  --bc: var(--bc-light);
}

main {
  background-color: hsl(var(--b1)) !important;
  user-select: none;
  color: hsl(var(--bc));
}
* {
  -webkit-tap-highlight-color: transparent;
}
body,
html,
#__next {
  /* min-height: min-content; */
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.clicky {
  cursor: pointer;
  transition: scale 0.3s ease, transform 0.3s ease;
}
.clicky:hover {
  transform: scale(1.1);
}
.clicky:active {
  transform: scale(0.99);
}
